.menu {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    list-style: none;
    height: 60px;
    background-color: lightsteelblue;
    padding: 0;
    margin: 0;

    &Item {
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        color: black;
        padding: 0px 40px;
        margin: 0;
        text-align: center;
        transition: all .3s;
        width: 50px;
        &:hover {
            background: lightgray;
            font-weight: bold;
        }
    }
}
