.todoItem {
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ededed;
    width: 100%;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis;
    &:hover {
        background: rgba(150,150,150,0.5);
    }

    &Text {    
        width: calc(100% - 220px);
        color: black;
        text-align: left;
        font-size: 20px;
        padding: 5px 10px;
        flex-grow: 1;
        text-decoration: none;
    }
    &Button {
        cursor: pointer;
        border: 0;
        border-left: 1px solid lightgray;
        background: white;
        padding: 10px 10px;
        min-width: 100px;
        &:hover {
            background: rgb(255, 100, 100);
        }
    }
}

.checked {
    text-decoration: line-through;
    background: lightgreen;
}