.addTodoForm {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addTodoInput {
    font-size: 20px;
    padding: 5px 10px;
    outline: none;
    border: 1px solid lightgray;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    flex-grow: 1;
    margin-right: 0px;
    &:focus {        
        outline: none;
    }
}

.addTodoButton {
    cursor: pointer;
    font-size: 20px;
    background: linear-gradient(gray, darkgray);
    color: white;
    padding: 10px 20px;
    border: 0;
    border-radius: 0 5px 5px 0;
    outline: none;
    &:hover {      
        color: #ededed;
        background: linear-gradient(darkgray, #898989);
    }
}